.header-animado {
  background-color: #64a59a;
  height: 300px; }

.header-nav {
  background-color: #84b8af; }
  .js .header-nav {
    height: 56px; }
  .header-nav__logo {
    display: inline-block;
    max-width: 350px;
    height: 56px;
    position: relative;
    top: 10px;
    z-index: 2; }
  .header-nav img {
    height: 56px; }
  .header-nav__hamburgger {
    display: none; }
    .js .header-nav__hamburgger {
      display: inline-block;
      float: right;
      height: 56px;
      border: none;
      background: transparent;
      color: #fff;
      font-size: 1.7em;
      padding: 0 .5em; }
    .header-nav__hamburgger:hover, .header-nav__hamburgger:focus {
      background: #74aea5; }
  .header-nav__menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header-nav__menu a {
      color: #fff;
      display: block;
      font-size: 1.5em;
      border-top: 1px solid #45776f;
      padding: 1em; }
      .header-nav__menu a:hover {
        background: #5a9b90; }
    .js .header-nav__menu {
      display: none; }
    .menu-opened .header-nav__menu {
      display: block; }
